.movie-card {
  width: 270px;
  height: 322px;
  .product-card-image {
    width: 100%;
    margin-top: 23px;
    height: 164, 09px;
  }

  .content {
    margin: 13px 14px;
    
  }
  .title {
    font-size: 20px;
   
  }

  .year {
    font-size: 16px;
  }
  .description {
    text-decoration: none !important;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.015em;
    max-height: 5ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

  }
}

//tablet
@media(max-width: 768px){
  .movie-card {
    width: 100%;
    height: 100%;
    white-space: normal;
  }
 
}

//mobile
@media (max-width: 576px) {
  .movie-card {
    .description {
      white-space: normal;
    }
  }
}