.filter {
  height: 80px;
  width: 101%;
  padding: 15px 20px;
  .movie-genre-select__control {
    width: 260px;
    height: 30px;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #9e9e9e;
    color: #fff;
    .movie-genre-select__value-container {
      color: #fff !important;
    }
  }
  .movie-genre-select__single-value {
    color: #fff;
  }
  .movie-genre-select__menu {
    background-color: #9e9e9e;
    color: #fff;
    width: 260px;
  }

  .movie-genre-select__indicator-separator {
    display: none;
  }

  .movie-genre-select__placeholder {
    color: #fff !important;
  }

  //tablet
  @media (max-width: 768px) {
    .filter {
      width: 100%;
    }
    .movie-genre-select__control, .movie-genre-select__menu {
     
      width: 100%;
    }
  }
}
